[Unit]
Description=User suspend actions
Before=sleep.target

[Service]
User=taha
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/bin/slock

[Install]
WantedBy=sleep.target
