URxvt*loginShell:  true
URxvt*colorUL:  yellow
URxvt*underlineColor:  yellow
URxvt*foreground: gray
URxvt*background: black

URxvt.saveLines:        10000
URxvt*cutchars:   "\\`\"'&()*,;<=>?@[]^{|}.#%+!/:-"
URxvt.urgentOnBell: false
URxvt*termName: xterm-256color

! fonts
!URxvt.font:                     xft:DejaVu Sans Mono:autohint=true:size=9
!URxvt.boldFont:                 xft:DejaVu Sans Mono:autohint=true:bold:size=9
!URxvt.italicFont:               xft:DejaVu Sans Mono:autohint=true:italic:size=9
!URxvt.boldItalicFont:           xft:DejaVu Sans Mono:autohint=true:bold:italic:size=
!URxvt.font: xft:Hack Nerd Font Mono:size=14
URxvt.font: xft:tamzenforpowerline:size=20, xft:Hack Nerd Font Mono:size=11, xft:Fira Mono for Power line:regular:size=11, xft:Deja Vu Sans:size=11

! transparency
urxvt*depth: 32
urxvt*background: rgba:0000/0000/0200/c800

! Normal copy & paste
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.iso14755: False

URxvt.perl-ext-common: default,matcher,clipboard,tabbed,resize-font

xvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt*scrollBar: false

Xft.dpi: 130
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
